aiocache
aioredis
async-lru
pydantic
fastapi
opencv-python
requests
tifffile
pandas
numpy
gunicorn
imagecodecs
matplotlib
scikit-image
scipy
redis
uvicorn
torch
torchvision
onnx
onnxruntime
sqlalchemy